body {
    display: flex;
    margin: 0;
    font-family: 'Darker Grotesque', sans-serif;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar nav ul li {
    margin: 100px 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #FF6F7D;
    font-size: 20px;
    font-weight: bold;
}

.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding-bottom: 20px;
    overflow: hidden;
}

.fortune-text {
    font-family: 'Cutive Mono', monospace;
    color: #FF5C6F;
    font-size: 18px !important;
    text-align: center;
    margin: 50px 0;
}

.chat-box {
    width: 80%;
    height: calc(70% - 20px);
    background-color: #fff;
    overflow-y: auto;
    box-shadow: none;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.chat-box div {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.chat-box img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.input-box {
    width: 80%;
    display: flex;
    margin: 20px 0;
}

.input-box input {
    flex: 1;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
}

.input-box button {
    padding: 15px 20px;
    background-color: #FF6F7D;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 18px;
}

.input-box button:hover {
    background-color: #CD2135;
}

.typing-indicator {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.typing-indicator div {
    width: 5px;
    height: 5px;
    background-color: #FF5C6F;
    border-radius: 50%;
    margin: 0 2px;
    animation: typing 1s infinite;
}

.typing-indicator div:nth-child(2) {
    animation-delay: 0.1s;
}

.typing-indicator div:nth-child(3) {
    animation-delay: 0.2s;
}

@keyframes typing {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-6px);
    }
    100% {
        transform: translateY(0);
    }
}
