body {
    display: flex;
    margin: 0;
    font-family: 'Darker Grotesque', sans-serif;
}

.sidebar {
    width: 200px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f2f2f2;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.sidebar nav ul li {
    margin: 250px 0; 
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #FF6F7D;
    font-size: 26px;
    font-weight: bold;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.result {
    width: 750px;
    height: auto;
}

.fortune-text {
    position: absolute;
    color: #FF5C6F;
    font-family: 'Cutive Mono', monospace;
    font-size: 18px !important;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.particule {
    position: absolute;
    opacity: 0.7;
    z-index: 3;
}

